##############
### SERVER ###
##############
DEBUG=True
DEBUG_PROPAGATE_EXCEPTIONS=False

SERVER_HOST=0.0.0.0
SERVER_PORT=8000

SERVER_URI=http://domain:port


##############
### DJANGO ###
##############
SECRET_KEY=django-insecure-@5klwloubn6ecfqa^-a00xm-nd5xsf^gj5=w29_c$2xq*d*so%


##############
#### EMAIL ###
##############
EMAIL_HOST=smtp.yandex.ru
EMAIL_PORT=465
EMAIL_HOST_USER=info@holidayeveryday.ru
EMAIL_HOST_PASSWORD=